body {
  font-family: "Noto Sans KR", sans-serif;
  min-height: 100vh;
  background-color: #f8f8f8;

  /* font-family: "Inter", sans-serif; */
  /* background-color: aqua; */
}
/* 예: src/index.css 또는 별도 CSS 파일에 추가 */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

html,
body {
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  color: #1e1e1e; /* 원하는 색상 코드로 변경 */
}

#root {
  height: 100%;
}
